<div class="bg-white shadow-md rounded-lg mx-4 pt-4">
    <div ngbAccordion #accordion="ngbAccordion" class="border-blue rounded">
        <div ngbAccordionItem="ejercicio2">
            <h2 ngbAccordionHeader>

                <button ngbAccordionButton>Ejercicio 2</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="flex items-center mb-4">
                            <h2 class="ml-4 text-xl font-semibold"></h2>
                        </div>
                        <div>
                            <p class="font-semibold mb-2">Seleccionar las respuestas correctas.</p>
                            <div class="mb-4 r1">
                                <section class="mx-2">
                                    <p class="mb-2"><strong>¿Cuál es la diferencia fundamental entre un argumento
                                            deductivo y un
                                            argumento
                                            inductivo?</strong></p>
                                    <div class="w-100">

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" id="radio1">
                                            <label class="form-check-label" for="radio1">
                                                a. Los argumentos deductivos se basan en premisas que otorgan un grado
                                                de probabilidad a
                                                la
                                                conclusión, mientras que los argumentos inductivos garantizan la verdad
                                                de la
                                                conclusión.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" id="radio2">
                                            <label class="form-check-label" for="radio2">
                                                b. Los argumentos deductivos son siempre inválidos, mientras que los
                                                argumentos
                                                inductivos
                                                son
                                                siempre fuertes.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" id="radio3">
                                            <label class="form-check-label" for="radio3">
                                                c. La diferencia radica en que los argumentos deductivos no requieren
                                                premisas, mientras
                                                que
                                                los
                                                inductivos sí.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" id="radio4">
                                            <label class="form-check-label" for="radio4">
                                                d. Los argumentos deductivos aseguran que la verdad de las premisas
                                                conduce
                                                necesariamente a
                                                la
                                                verdad de la conclusión, mientras que los argumentos inductivos otorgan
                                                un grado de
                                                probabilidad
                                                a
                                                la conclusión.
                                            </label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="mb-4">
                                <section class="mx-2">
                                    <p class="mb-2"><strong>¿Qué aspecto de los argumentos NO será evaluado en la prueba
                                            de comunicación
                                            escrita, según lo establecido en el texto?</strong></p>
                                    <div class="w-100">

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio2" id="radio21">
                                            <label class="form-check-label" for="radio21">
                                                a. La corrección de su presentación formal.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio2" id="radio22">
                                            <label class="form-check-label" for="radio22">
                                                b. La claridad de su expresión.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio2" id="radio23">
                                            <label class="form-check-label" for="radio23">
                                                c. La validez de los argumentos.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio2" id="radio24">
                                            <label class="form-check-label" for="radio24">
                                                d. La pertinencia de los argumentos para justificar el punto central del
                                                escrito.
                                            </label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="w-100 text-center">
                                <button class="btn btn-primary">
                                    Comprobar
                                </button>

                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>


    </div>
</div>