<div class="wrapper d-flex">
  <aside class="float-left d-block">
    <div ngbAccordion #accordion="ngbAccordion">
      <div ngbAccordionItem="sec_{{i}}" *ngFor="let section of sections; let i = index">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{section.title}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="mb-2">
            <ng-template>
              <p>
                {{section.content}}
              </p>
              <app-sub-sections [sections]="section.subSections"></app-sub-sections>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <main class="float-left d-block">
    MAIN
  </main>
</div>