<div class="d-flex p-4 container">
    <div class="border p-2 mb-4">
        <p class="txt-strong">Nivel 1</p>
    </div>
    <div class="d-flex gap-4 subcontainer">
        <div class="d-flex item">
            <div class="border p-2 mb-2">
                <p class="txt-medium">Nivel 1.1</p>
            </div>
            <div class="border p-2">
                <p>Explicación del Nivel 1.1</p>
            </div>
        </div>
        <div class="d-flex item">
            <div class="border p-2 mb-2">
                <p class="txt-medium">Nivel 1.2</p>
            </div>
            <div class="border p-2">
                <p>Explicación del Nivel 1.2</p>
            </div>
        </div>
    </div>
</div>